BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "led_0" SITE=Y20 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_1" SITE=AA21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_2" SITE=U18 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_3" SITE=U19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_4" SITE=W19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_5" SITE=V19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_6" SITE=AB20 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_7" SITE=AA20 IO_TYPE=LVCMOS33 ;
LOCATE COMP "reset_n" SITE "A21" ;
LOCATE COMP "clock" SITE "L5" ;
IOBUF PORT "clock" IO_TYPE=LVDS25 DIFFRESISTOR=OFF DIFFDRIVE="NA" ;
IOBUF PORT "phy0_rx_clk" SITE=L4 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rx_dv" SITE=M1 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_7" SITE=P3 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_6" SITE=P5 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_5" SITE=R2 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_4" SITE=T2 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_3" SITE=P6 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_2" SITE=N6 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_1" SITE=N1 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rxd_0" SITE=M5 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_rstn" SITE=L3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_gtx_clk" SITE=M2 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_tx_en" SITE=V3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_7" SITE=N2 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_6" SITE=N4 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_5" SITE=N3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_4" SITE=N5 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_3" SITE=P1 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_2" SITE=R3 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_1" SITE=U1 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_txd_0" SITE=V1 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_mii_clk" SITE=V4 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_mii_data" SITE=L2 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy0_125M_clk" SITE=T3 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy0_tx_clk" SITE=C12 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_clk" SITE=N19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rx_dv" SITE=U15 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_7" SITE=Y21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_6" SITE=W21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_5" SITE=R18 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_4" SITE=T17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_3" SITE=V21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_2" SITE=R19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_1" SITE=AA17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rxd_0" SITE=AB17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_rstn" SITE=R21 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_gtx_clk" SITE=M19 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_tx_en" SITE=V22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_7" SITE=U20 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_6" SITE=P20 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_5" SITE=U22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_4" SITE=T21 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_3" SITE=Y22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_2" SITE=P17 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_1" SITE=R16 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_txd_0" SITE=W22 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_mii_clk" SITE=Y18 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_mii_data" SITE=U16 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "phy1_125M_clk" SITE=R17 IO_TYPE=LVCMOS33 ;
IOBUF PORT "phy1_tx_clk" SITE=M21 IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "clock" 100.000000 MHz ;
FREQUENCY PORT "phy0_125M_clk" 125.000000 MHz ;
FREQUENCY PORT "phy0_rx_clk" 125.000000 MHz ;
FREQUENCY PORT "phy1_125M_clk" 125.000000 MHz ;
FREQUENCY PORT "phy1_rx_clk" 125.000000 MHz ;
