# global
!.keep_me
*.swp
a.out

# lattice
.run_manager.ini
.spread_sheet.ini
.spreadsheet_view.ini
.setting.ini
.build_status
*.ccl
*.log
*.txt
reportview.xml
ovs_hw_ovs_hw*
ovs_hw/syntmp/
syntmp
*.pty
*.prs


t_data.hex
test.vcd
tb_system
